$disable-color: #ddd;
$enable-color: #41b883;
@-webkit-keyframes fade_in_out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade_in_out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes jello {
    0%,11.1%,to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg)
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg)
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg)
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg)
    }

    66.6% {
        -webkit-transform: skewX(-.78125deg) skewY(-.78125deg);
        transform: skewX(-.78125deg) skewY(-.78125deg)
    }

    77.7% {
        -webkit-transform: skewX(.390625deg) skewY(.390625deg);
        transform: skewX(.390625deg) skewY(.390625deg)
    }

    88.8% {
        -webkit-transform: skewX(-.1953125deg) skewY(-.1953125deg);
        transform: skewX(-.1953125deg) skewY(-.1953125deg)
    }
}

@keyframes jello {
    0%,11.1%,to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg)
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg)
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg)
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg)
    }

    66.6% {
        -webkit-transform: skewX(-.78125deg) skewY(-.78125deg);
        transform: skewX(-.78125deg) skewY(-.78125deg)
    }

    77.7% {
        -webkit-transform: skewX(.390625deg) skewY(.390625deg);
        transform: skewX(.390625deg) skewY(.390625deg)
    }

    88.8% {
        -webkit-transform: skewX(-.1953125deg) skewY(-.1953125deg);
        transform: skewX(-.1953125deg) skewY(-.1953125deg)
    }
}

.chatting-panel{
    z-index: 1111;
    position: fixed;
    right: 20px;
    bottom: 40px;
    &.alarm{
        animation: jello 1.5s infinite ease-in-out;
        .container{
            #chatbot{
                border-color: #22a716;
            }
            .dot,
            #antenna,
            #beam,
            #beam-pulsar{
                background-color: #22a716!important;
            }
        } 
    }
    .container {
        opacity: .4;
        margin: auto;
        position: absolute;
        bottom: 0;
        top: 0;
        right: 105px;
        scale: .4;
        cursor: pointer;
        animation: up-down 7.5s infinite ease-in-out;
        &:hover{
          opacity: 1;
        }
        }
        .container #chatbot {
        margin: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        width: 150px;
        height: 85px;
        border: 12px solid #3D3E45;
        border-radius: 5rem;
        }
        .container #chatbot-corner {
        margin: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        top: 105px;
        left: -65px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 25px solid #3D3E45;
        transform: rotate(140deg);
        }
        .container #antenna {
        margin: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        top: -125px;
        height: 20px;
        width: 10px;
        background-color: #3D3E45;
        animation: antenna-appear 7.5s infinite ease-in-out;
        }
        .container #antenna #beam {
        position: absolute;
        top: -12.5px;
        left: -5px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: #3D3E45;
        animation: beam-appear 7.5s infinite ease-in-out;
        }
        .container #antenna #beam-pulsar {
        position: absolute;
        top: -12.5px;
        left: -5px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: #3D3E45;
        animation: beam-pulsar-appear 7.5s infinite ease-in-out;
        }
        .container .dot {
        height: 17.5px;
        width: 17.5px;
        margin: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        left: -65px;
        background-color: #3D3E45;
        border-radius: 50%;
        animation: pulse-outer 7.5s infinite ease-in-out;
        }
        .container .dot:nth-child(2) {
        left: 0;
        animation: pulse-inner 7.5s infinite ease-in-out;
        animation-delay: 0.2s;
        }
        .container .dot:nth-child(3) {
        left: 65px;
        animation: pulse-outer 7.5s infinite ease-in-out;
        animation-delay: 0.4s;
        }
        @keyframes pulse-inner {
        0% {
            transform: scale(1);
        }
        7.5% {
            transform: scale(1.5);
        }
        15% {
            transform: scale(1);
        }
        22.5% {
            transform: scale(1.5);
        }
        30% {
            transform: scale(1);
        }
        37.5% {
            transform: scale(1.5);
        }
        45% {
            top: 0;
            transform: scale(1);
            height: 17.5px;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
            transform: rotate(-370deg);
        }
        50% {
            top: 22.5px;
            height: 10px;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            border-bottom-left-radius: 3rem;
            border-bottom-right-radius: 3rem;
            transform: rotate(10deg);
        }
        55% {
            transform: rotate(-10deg);
        }
        60% {
            transform: rotate(10deg);
        }
        65% {
            transform: rotate(-10deg);
        }
        65% {
            transform: rotate(0deg);
        }
        85% {
            top: 22.5px;
            height: 10px;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            border-bottom-left-radius: 3rem;
            border-bottom-right-radius: 3rem;
            transform: rotate(0deg);
        }
        92.5% {
            top: 22.5px;
            height: 10px;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            border-bottom-left-radius: 2.5rem;
            border-bottom-right-radius: 2.5rem;
            transform: rotate(0deg);
        }
        100% {
            top: 0;
            height: 17.5px;
            border-radius: 50%;
            transform: rotate(-360deg);
        }
        }
        @keyframes pulse-outer {
        0% {
            transform: scale(1);
        }
        7.5% {
            transform: scale(1.5);
        }
        15% {
            transform: scale(1);
        }
        22.5% {
            transform: scale(1.5);
        }
        30% {
            transform: scale(1);
        }
        37.5% {
            transform: scale(1.5);
        }
        45% {
            transform: scale(1);
            height: 17.5px;
        }
        55% {
            tranform: scale(1);
            height: 5px;
        }
        60% {
            height: 17.5px;
        }
        75% {
            height: 17.5px;
        }
        80% {
            tranform: scale(1);
            height: 5px;
        }
        85% {
            height: 17.5px;
        }
        100% {
            height: 17.5px;
        }
        }
        @keyframes antenna-appear {
        0% {
            visibility: hidden;
            top: -100px;
            height: 0;
        }
        50% {
            visibility: hidden;
            top: -100px;
            height: 0;
        }
        55% {
            visibility: visible;
            top: -125px;
            height: 20px;
        }
        95% {
            visibility: visible;
            top: -125px;
            height: 20px;
        }
        100% {
            top: -100px;
            height: 0;
        }
        }
        @keyframes beam-appear {
        0% {
            visibility: hidden;
            top: -12.5px;
            height: 0;
        }
        50% {
            visibility: hidden;
            top: -12.5px;
            height: 0;
        }
        55% {
            visibility: visible;
            top: -12.5px;
            height: 20px;
            width: 20px;
        }
        100% {
            visibility: visible;
            top: -12.5px;
            height: 20px;
            width: 20px;
        }
        }
        @keyframes beam-pulsar-appear {
        0% {
            visibility: hidden;
            top: -12.5px;
            height: 0;
        }
        50% {
            visibility: hidden;
            top: -12.5px;
            height: 0;
        }
        55% {
            visibility: visible;
            top: -12.5px;
            left: -5px;
            height: 20px;
            width: 20px;
            opacity: 1;
        }
        65% {
            top: -25px;
            left: -15px;
            height: 40px;
            width: 40px;
            opacity: 0;
            visibility: visible;
        }
        74% {
            visibility: hidden;
            opacity: 0;
        }
        75% {
            visibility: visible;
            top: -12.5px;
            left: -5px;
            height: 20px;
            width: 20px;
            opacity: 1;
        }
        85% {
            top: -25px;
            left: -15px;
            height: 40px;
            width: 40px;
            opacity: 0;
            visibility: visible;
        }
        94% {
            visibility: hidden;
            opacity: 0;
        }
        100% {
            visibility: hidden;
            opacity: 0;
        }
        }
        @keyframes up-down {
        0% {
            transform: translate(0);
        }
        12.5% {
            transform: translate(0, 2%);
        }
        25% {
            transform: translate(0);
        }
        37.5% {
            transform: translate(0, 2%);
        }
        50% {
            transform: translate(0);
        }
        62.5% {
            transform: translate(0, 2%);
        }
        75% {
            transform: translate(0);
        }
        87.5% {
            transform: translate(0, 2%);
        }
        100% {
            transform: translate(0);
        }
        }
    .wrapper {
    display: flex;
    height: 0px;
    scale: .5;
    opacity: .4;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    &:hover{
        scale: .55;
        opacity: 1;
        transition: all .3s;
    }
    }
    &.disabled{
        .wrapper{
            &:hover{
                scale: .5;
                opacity:.4 ;
            }
        .bubble {
            background-color: $disable-color;
        }
        .bubble::before, .bubble::after {
            background-color: $disable-color;
        }
    }
}
}
@mixin center {
    position: fixed;
    bottom: 20px;
    right: 45px;
}

@mixin ball {
  @include center;
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, .5);
  z-index: 2;
  margin-top: 4px;
  animation: ball .45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
}



.bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: url('https://images.unsplash.com/photo-1451186859696-371d9477be93?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925') no-repeat 0 0;
  filter: blur(80px);
  transform: scale(1.2);
}


/*--------------------
Chat
--------------------*/
.chat {
  @include center;
  display: none;
  width: 300px;
  height: 80vh;
  max-height: 500px;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
  background: rgba(0, 0, 0, .5);
  border-radius: 20px;
  justify-content: space-between;
  flex-direction: column;
  .close-btn{
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 1209;
    right: 13px;
    top: 10px;
    cursor: pointer;
    span{
        top: 0px;
        left: 0px;
    }
  }
  &.show{
    display: flex;
  }
}


/*--------------------
Chat Title
--------------------*/
.chat-title {
  flex: 0 1 45px;
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding: 10px 10px 10px 50px;
  
  h3 {
    position: absolute;
    font-weight: normal;
    top: 8px;
    font-size: 8px;
    text-align: left;
    padding-left: 20px;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    position: absolute;
    text-transform:lowercase;
    top: 15px;
    color: rgba(255, 255, 255, .5);
    font-size: 8px;
    letter-spacing: 1px;
  }
  
  .avatar {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 9px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 2px solid rgba(255, 255, 255, 0.24);
    
    img {
      width: 100%;
      height: auto;
    }
  }
}


/*--------------------
Messages
--------------------*/
.messages {
  flex: 1 1 auto;
  color: rgba(255, 255, 255, .5);
  overflow: hidden;
  position: relative;
  width: 100%;
  
  & .messages-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 101%;
    width: 100%;
    overflow-y: auto;
  }

  
  .message {
    clear: both;
    float: left;
    padding: 6px 10px 7px;
    border-radius: 10px 10px 10px 0;
    background: rgba(0, 0, 0, .3);
    margin: 8px 0;
    font-size: 11px;
    line-height: 1.4;
    margin-left: 35px;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    
    .timestamp {
      position: absolute;
      bottom: -15px;
      font-size: 9px;
      color: rgba(255, 255, 255, .3);
    }
    
    &::before {
      content: '';
      position: absolute;
      bottom: -6px;
      border-top: 6px solid rgba(0, 0, 0, .3);
      left: 0;
      border-right: 7px solid transparent;
    }
    
    .avatar {
      position: absolute;
      z-index: 1;
      bottom: -15px;
      left: -35px;
      border-radius: 30px;
      width: 30px;
      height: 30px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      border: 2px solid rgba(255, 255, 255, 0.24);

      img {
        width: 100%;
        height: auto;
      }
    }
    
    &.message-personal {
      float: right;
      color: #fff;
      text-align: right;
      background: linear-gradient(120deg, #41b883, #00ffff);
      border-radius: 10px 10px 0 10px;
      
      &::before {
        left: auto;
        right: 0;
        border-right: none;
        border-left: 5px solid transparent;
        border-top: 4px solid #257287;
        bottom: -4px;
      }
    }
    
    &:last-child {
      margin-bottom: 30px;
    }
    
    &.new {
      transform: scale(0);
      transform-origin: 0 0;
      animation: bounce 500ms linear both;
      margin-right: 5px;
    }
    
    &.loading {

      &::before {
        @include ball;
        border: none;
        animation-delay: .15s;
      }

      & span {
        display: block;
        font-size: 0;
        width: 20px;
        height: 10px;
        position: relative;

        &::before {
          @include ball;
          margin-left: -7px;
        }

        &::after {
          @include ball;
          margin-left: 7px;
          animation-delay: .3s;
        }
      }
    }
    
  }
}


/*--------------------
Message Box
--------------------*/
.message-box {
  flex: 0 1 40px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  position: relative;
  *,*::before,
    *::after {
    box-sizing: border-box;
    }
  & .message-input {
    background: none;
    border: none;
    outline: none!important;
    resize: none;
    color: rgba(255, 255, 255, .7);
    font-size: 11px;
    height: 17px;
    margin: 0;
    padding-right: 20px;
    width: 235px;
    height: 30px;
  }
  
  textarea:focus:-webkit-placeholder{
      color: transparent;
  }
  
  & .message-submit {
    position: absolute;
    z-index: 1;
    top: 9px;
    right: 35px;
    color: #fff;
    border: none;
    background: #41b883;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 10px; 
    border-radius: 10px;
    outline: none!important;
    transition: background .2s ease;
    
    &:hover {
      background: #1D7745;
    }
  }
}


/*--------------------
Custom Srollbar
--------------------*/
.mCSB_scrollTools {
  margin: 1px -3px 1px 0;
  opacity: 0;
}

.mCSB_inside > .mCSB_container {
  margin-right: 0px;
  padding: 0 10px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.5)!important;
}


/*--------------------
Bounce
--------------------*/
@keyframes bounce { 
  0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% { transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% { transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% { transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% { transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% { transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% { transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% { transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% { transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% { transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% { transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}


@keyframes ball { 
  from {
    transform: translateY(0) scaleY(.8);
  }
  to {
    transform: translateY(-10px);
  }
}
