$colors: #0bb6ea, #41b883, #e5283a, #ff3e00, #05e8ff;
$max: length($colors);
$dash: 70;
$dash-gap: 10;
$dash-space: $dash * ($max - 1) + $dash-gap * $max;
$time: 6s;
$time-step: $time/$max;

.popupCtrl{
  width: 0px;
  height: 0px;
  top: -42px;
  left: 170px;
  position: absolute;
  z-index: 100;
  background-color: #20d8f9 !important;
  color: #000!important;
  border-color: #fff0!important;
  .liquid-button{
    scale: .7;
    cursor: pointer;
  }
  text{
    font-family:'Space Grotesk' !important;
    font-size: 22px;
    color: #fff;
    fill: #fff!important;
    transform: translateY(2px);
    font-weight: bold;
  }
}
.popupPanel{
  &.show{
   opacity: 1; 
   z-index: 1000;
  }
  opacity: 0;
  transition: all .3s;
  position: absolute;
  z-index: -100;
  width: 335px;
  height: 380px;
  background-color: rgb(0 0 0 / 63%);
  border-radius: 20px;
  left: 170px!important;
  top: 40px!important;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 18px;
  padding-right: 0px;
  div{
    min-width: 130px;
    flex: 1;
    height: 55px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    &:hover{
      background: #dedede45;
      border-radius: 5px;
    }
  }
}
.popupCurShow{
  position: absolute;
  top: -42px;
  left: 400px;
  color: #ffff;
  z-index: 12333;
  font-size: 22px;
  font-weight: bold;
  width: 251px;
  height: 82px;
  overflow: hidden;
  text{
    font-size: 84px;
  }
}
.popIcon{
  width: 40px;
  height: 40px;
  padding-right: 10px;
  svg{
    width: inherit;
    height: inherit;
  }
  
}

.pop-text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: $dash $dash-space;
  stroke-dashoffset: 0;
  -webkit-animation: stroke $time infinite linear;
  animation: stroke $time infinite linear;
  
  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}) {
      $color: nth($colors, $item);
      stroke: $color;
      -webkit-animation-delay: -($time-step * $item);
      animation-delay: -($time-step * $item);
    }
  }
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}