html,
body,
#root {
  margin: 0px;
  height: 100%;
  background: radial-gradient(1200px 600px at 70% -10%, #1b2230 0%, #0b0e13 60%)
    no-repeat;
}
#root {
  overflow: hidden;
}

.App {
  display: flex;
  justify-content: flex-start;
  background: transparent;
  box-sizing: border-box;
  padding: 15px;
  height: 100%;
  .ant-tree {
    background-color: #fff0;
  }
  .mika-mona-left-dir {
    width: 220px;
    margin-right: 5px;
    background: #242424;
    border-right: 1px solid #dedede3b;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow:
      0 25px 70px rgba(0, 0, 0, 0.6666666667),
      inset 0 1px 0 rgba(255, 255, 255, 0.0705882353);
  }
  .mika-mona-center-editor {
    border-radius: 10px;
    background: linear-gradient(#0d1116, #0b0e13);
    box-shadow:
      0 25px 70px rgba(0, 0, 0, 0.6666666667),
      inset 0 1px 0 rgba(255, 255, 255, 0.0705882353);
    flex: 1;
    overflow: hidden;
    .monac-load {
      color: #fff;
    }
  }
  .mika-mona-center-editor-format{
    position: absolute;
    z-index: 12;
    top: 6px;
    right: 325px;
  }
  .mika-mona-right-view {
    width: 400px;
    margin-left: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    max-height: calc(100% - 66px);
    overflow: auto;
    box-shadow:
      0 25px 70px rgba(0, 0, 0, 0.6666666667),
      inset 0 1px 0 rgba(255, 255, 255, 0.0705882353);
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  .mika-mona-right-view.angularFrame{
    overflow: hidden;
    max-height: calc(100% - 46px);
    padding: 0px;
    width: 420px;
    
  }
  .mika-mona-left-dir,
  .mika-mona-center-editor {
    max-height: calc(100% - 66px);
  }
  .mika-mona-center-editor {
    padding-bottom: 20px;
  }
  .ant-tree-list-holder-inner {
    color: #fff;
  }
  .ant-tree-node-selected {
    background-color: #dff976 !important;
    color: #000;
  }
  .mika-mona-left-dir-title {
    display: inline;
  }
  .ant-tree-title {
    position: relative;
  }
  .mika-mona-left-dir-title-add {
    position: absolute;
    z-index: 123;
    left: 115px;
    top: 0px;
    color: #fff;
  }
  .mika-mona-left-dir-title-op {
    position: absolute;
    right: -55px;
    color: #fff;
    z-index: 123;
    top: -1px;
    font-size: 10px;
    span {
      margin-right: 5px;
    }
  }
  .ant-tree-title {
    input {
      position: absolute;
      left: -33px;
      width: 166px;
    }
  }
  .ant-tree-node-content-wrapper:hover {
    color: #dff976 !important;
  }
}
.title-nav-header {
  display: block;
  width: 100%;
  a {
    position: absolute;
    top: 14px;
    color: #fff;
    left: 372px;
    &:first-child {
      left: 372px;
    }
    &:nth-child(2) {
      left: 246px;
    }
    &:nth-child(6){
      left: 482px;
    }
    text-decoration: none;
  }
  span:nth-child(5){
      left: 476px;
    }
  a.active {
    color: #dff976;
    border: 0px solid #0b0e13;
  }
  span {
    display: inline-block;
    position: absolute;
    top: 13px;
    left: 365px;
    color: #fff;
  }
}
.title-header {
  font-size: 18px;
  text-align: left;
  color: #fff;
  background: transparent;
  font-weight: 600;
  border-bottom: 1px solid #dedede45;
  padding: 10px;
  padding-left: 20px;
}
.mika-out-log-content {
  height: 400px;
  overflow-y: auto;

  p.warn {
    color: #fbbc06;
  }
  p.done {
    color: #5c95f6;
  }
}
.logControl{
  position: fixed;
  z-index: 124;
  top: 6px;
  right: 34px;
  button{
    margin: 0 10px;
    color: #fff;
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
    &:hover{
      background-color: #fff;
    }
  }
}
.mika-log-body{
  .info-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
    padding: 5px 10px;
    span:nth-child(2){
      font-size: 12px;
      color: #dedede;
      padding-top: 15px;
    }
  }
}